.go4dashboard_nav_main_icon {
    background-image: url("/bundles/pimcoreadmin/img/flat-white-icons/page.svg");
}

.go4dashboard_nav_project_doc_icon {
    background-image: url("/bundles/pimcoreadmin/img/flat-white-icons/page.svg");
}

.go4dashboard_nav_pimcore_doc_icon {
    background-image: url("/bundles/pimcoreadmin/img/flat-white-icons/pimcore-sign.svg");
}
